h1,h2,h3,h4,h5,h6 { font-weight:bold; }

.caption { color: #fff; }

.slide.impact h1,
.slide.impact h2,
.slide.impact h3,
.slide.impact h4,
.slide.impact h5,
.slide.impact h6,
.slide.statement h2,
.slide.statement h1,
.slide.statement h3,
.slide.statement h4,
.slide.statement h5,
.slide.statement h6 { font-weight: normal; }

.list {
	background: #242424;
}

.list .slide:before {
	-webkit-box-shadow: 0 0 0 1px #555;
	box-shadow: 0 0 0 1px #555;
}

.list .slide.impact>div,
.list .slide.statement>div {
	position: absolute;
	top: 0;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.list .slide:after,
.list .slide.cover:after,
.list .slide.shout:after {
	content: none;
}

.slide {
	text-align: center;
	background: #EBEBEB;
	color: #111;
	/* background: radial-gradient(ellipse at center, #FFF 0%,#FFF 60%,#FFF 60%,#F7F7F7 100%); */
}

.list .slide {
	text-align: center;
}

.slide:after {
	content: none;
}

.slide h2 {
	margin-bottom: 0.5em;
}

.slide pre {
	margin: 0 0 1em;
}

.slide pre mark {
	background: #151515;
	color: #FFF;
	font-style: normal;
	font-weight: bold;
	padding: 0.05em 0.25em;
	border: 1px #999 solid;
}

.slide pre code {
	line-height: 1.25;
}

.slide p {
	margin-top: 0.5em;
	margin-bottom: auto;
	line-height: 1.25;
}

.slide ul {
	margin-top: 0.5em;
}

.slide ul li {
	line-height: 1.5;
	margin-bottom: 0.5em;
}

.slide small {
	font-size: 0.85em;
	font-weight: bold;
}

.slide.listing {
	text-align: left;
}

.slide.impact,
.slide.statement {
	background: #5B5B5B;
	color: #fff;
	font-size: 2.25em;
	line-height: 1.25;
}

.slide.impact {
	background: #4AA0B1;
}

.slide.statement strong {
	color: #66D9EF;
	background: none;
}

.slide.impact div,
.slide.statement div {
	padding-top: 0;
	height: 100%;
}

.slide.impact>div div,
.slide.statement>div div,
.slide.cover.impact>div div,
.slide.cover.statement>div div {
	height: auto;
	top: 50%;
	-webkit-transform: translateY(-55%);
	transform: translateY(-55%);
	position: relative;
	padding-top: 0;
}

.slide.cover.impact>div,
.slide.cover.statement>div {
	position: absolute;
	top: 0;
	-webkit-transform: none;
	transform: none;
	height: inherit;
}

.slide.cover.impact>div div,
.slide.cover.statement>div div {
	background: rgba(255, 255, 255, 0.8);
	color: #000;
}

.slide.impact small,
.slide.statement small {
	font-size: 0.55em;
	font-weight: bold;
}

.slide p strong,
.slide li strong {
	background: #FD0B85;
	color: #fff;
	padding: 0 0.25em;
}

.slide.code {
	background: #242424;
	color: #fff;
}

a, .slide a { color: #FD0B85; text-decoration: none; border-bottom: rgba(253,11,133,0.2) .05em solid; }
a:focus, a:hover, a:active { border-bottom: #FD0B85 .05em solid; }

del { opacity: 0.75; }

section img {
	max-height: 80%;
	margin: 0 auto;
	display: block;
	max-width: 90%;
}
section img.cover {
	min-height: 100%;
	min-width: 100%;
}

section dd {
	margin-bottom: 1em;
}



pre code.js,
pre code.css,
pre code.html { text-align:left; }

/* title slide */

.slide.title h2 {
	text-transform: lowercase;
	font-weight: bold;
	letter-spacing: -0.05em;
	font-family: Roboto;
	margin: 0;
	padding: 0.1em 0 0.1em 0;
	font-size: 3em;
}

.slide.title strong {
	color: #FD0B85;
	background: none;
}

.slide.title .titlestrap {
	text-align: left;
	background: rgba(255, 255, 255, 0.9);
	padding: 0.5em;
	margin: 0 -2em 0 -3em;
	height: auto;
	top: 50%;
	-webkit-transform: translateY(-90%);
	transform: translateY(-90%);
	position: relative;
	padding-top: 0;
}

.slide.title .titlestrap p {
	text-transform: uppercase;
	font-weight: 700;
	font-family: "Roboto";
	letter-spacing: -0.05em;
}

.slide.title .info {
	position: absolute;
	bottom: 0;
	background: #FFF;
	padding: 1em 1em 1em 4em;
	width: 100%;
	left: 0;
	text-align: left;
	font-size: 0.75em;
}
