html,body {
	background: #eee;
	color: #333;
	font: 1em/1.3 Arial, sans;
}

body { padding: 1em; max-width: 30em; margin: 0 auto; }

h1 {
	font-size: 1.2em;
}

output, #output {
	display: block;
	padding: 1em;
	background: #ddd;
	height: 5em;
	overflow:auto;
	line-height: 1;
}

output strong,
#output strong {
	color: #f00;
	text-decoration: underline;
}

button, [role="button"], .button {
	width: 100%;
	height: 4rem;
	margin: 0 0 1rem;
	padding: 0.15rem 1.5rem;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: middle;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font: 1.6rem/3.8rem Arial, Sans-serif;
	text-align: center;
	text-decoration: none;
	outline: none;
    color: #fff;
    text-decoration: none;
    background-color: #0099e5;
    border: 1px solid #06A;
    border-radius: 0.3rem;
    -webkit-box-shadow: 0px 1px 0px rgba(255,255,255,0.15) inset;
    box-shadow: 0px 1px 0px rgba(255,255,255,0.15) inset;
	transition: color .1s linear;

	/* faking some cursor interaction and making text non-selectable */
	cursor: pointer;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none; 
}

button:focus, button:hover,
[role="button"]:focus, [role="button"]:hover,
.button:focus, .button:hover {
	background-color: #0AF;
}

button:focus,
[role="button"]:focus,
.button:focus {
	outline: 4px #014466 solid;
	outline-offset: 2px; 
}

button:active,
[role="button"]:active,
.button:active  {
	background-color: #0099e5;
    -webkit-box-shadow: 0px 1px 0px rgba(0,0,0,0.15) inset;
    box-shadow: 0px 1px 0px rgba(0,0,0,0.15) inset;
}

button::-moz-focus-inner,
[role="button"]::-moz-focus-inner,
.button::-moz-focus-inner {
  border: none;
  outline: none;
}

/* Utility */

.sr-only{position:absolute;width:1px;height:1px;padding:0;overflow:hidden;clip:rect(0,0,0,0);white-space:nowrap;border:0}

/* Glyphicons */

@font-face {
	font-family: 'Glyphicons Halflings';
	src: url('./glyphicons/glyphicons-halflings-regular.eot');
	src: url('./glyphicons/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('./glyphicons/glyphicons-halflings-regular.woff2') format('woff2'), url('./glyphicons/glyphicons-halflings-regular.woff') format('woff'), url('./glyphicons/glyphicons-halflings-regular.ttf') format('truetype'), url('./glyphicons/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.glyphicon {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.glyphicon-remove:before {
	content: "\e014";
}

.glyphicon-chevron-right:before {
	content: "\e080";
}

.glyphicon-chevron-down:before {
    content: "\e114";
}

.glyphicon-menu-hamburger:before {
    content: "\e236";
}

.glyphicon-ok:before {
    content: "\e013";
}